<%= render 'createmap' %>

<div class="sign_up">
      
      <% if current_user %>



          <span class="white_text"><%= current_user.email %></span> |           <!-- 'Logout' link for full size view -->
         <span class="white_text">
            <%= link_to "LOGOUT", sessions_path, method: :delete, :style=>'color:#FFFFFF;' %>
          </span>

      <% else %>

        <!-- sign up link -->
        <a href="users/new" class="white_text" style="color: #fff;text-decoration: none;">SIGN UP</a>

        <span class="blue_text">|</span> 

        <!-- login link -->
        <a href="sessions/new" class="white_text" style="color: #fff;text-decoration: none;">LOGIN</a>

      <% end %>
    </div>

<a href="/" class="new animated fadeIn" style="color: #fff;">HOME</a>

<h1 class="center main_title animated fadeInDown">PREDICTIVE</h1>


<div id="results">

  <div class="white_text animated fadeIn">
    <div class="rating_container">

      <div class="float_right">
        <h1 class="normal_font">Overall Rating</h1>
        <p class="overall-rating"></p>
      </div>

      <div style="width: 380px; float: right;">

        <div class="each_rating">
        <h3>Traffic<br>Score</h3>
        <p class="traffic-rating rating"></p>
        </div>

        <div class="each_rating">
        <h3>Competition<br>Score</h3>
        <p class="negative-rating rating" ></p>
        </div>

        <div class="each_rating">
        <h3>Complement<br>Score</h3>
        <p class="positive-rating rating"></p>
        </div>

      </div>

  </div>
  <div class="recommendation_container">
    <h2 class="recommendations_header">Recommendations</h2>
    <div style="padding-left: 80px;">
      • Recommendation #1<br>
      • Recommendation #2<br>
      • Recommendation #3<br>
      • Recommendation #4<br>
    </div>
    <span class="white_text" id='factual-data'>

      <% @factual_data.each do |element| %>
        <%= element['name'] %>|
        <%= element['latitude'] %>|
        <%= element['longitude'] %>|
        <%= element['price'] %>|
        <%= element['rating'] %>|
        <%= element['cuisine'] %>|  
      <% end %>
    </span>
  </div>
<!--     <span class="blue_text">LOCATION:</span>
    <%= @restaurant.location %><br> 

    <span class="blue_text">CATEGORY:</span>
    <%= @restaurant.category %><br> 

    <span class="blue_text">PRICE:</span>
    <%= @restaurant.price %> -->

  </div>


  <br><br><div id="map-canvas" style="width:100%"></div>
</div>