
<%= render 'createmap' %>

<div class="sign_up">
      
      <% if current_user %>



          <span class="white_text"><%= current_user.email %></span> |           <!-- 'Logout' link for full size view -->
         <span class="white_text">
            <%= link_to "LOGOUT", sessions_path, method: :delete, :style=>'color:#FFFFFF;' %>
          </span>

      <% else %>

        <!-- sign up link -->
        <a href="users/new" class="white_text" style="color: #fff;text-decoration: none;">SIGN UP</a>

        <span class="blue_text">|</span> 

        <!-- login link -->
        <a href="sessions/new" class="white_text" style="color: #fff;text-decoration: none;">LOGIN</a>

      <% end %>
    </div>

<a href="/" class="new animated fadeIn" style="color: #fff;">HOME</a>

<h1 class="center main_title animated fadeInDown">PREDICTIVE</h1>

  <h1 class="normal_font">Overall Rating</h1>
  <p class="overall-rating"></p>



  <!-- D3 starts here -->
  <style type="text/css">

  div.bar{ 
    display: inline-block;
    width: 20px;
  /*  height: 75px;*/
    background-color: teal;
    margin-right: 2px;
  }

  body{
    text-align: center ;
  }
    </style>

  <script type="text/javascript">

  var w = 300;
  var h = 100;
  var barPadding = 1;
  // var padding = 20;


  console.log(localStorage.negativeRating)

  var dataset = [((localStorage.trafficRating)/5), ((localStorage.negativeRating)/5), ((localStorage.positiveRating)/5)];

  var labeldata = ["Traffic Score", "Competition Score", "Complement Score"];

  console.log(dataset.length);

  // Create SVG Element 
  var svg = d3.select("body")
  .append("svg")
  .attr("width", w)
  .attr("height", h);

  svg.selectAll("rect")
  .data(dataset)
  .enter()
  .append("rect")
  .attr("x", function(d, i){
    return i * (w / dataset.length);
  })
  .attr("y", function(d){
    return h - (d * 4);
  })
  .attr("width", w / dataset.length - barPadding)
  .attr("height", function(d){
    return d;
  })
  .attr("fill", function(d){
    return "rgb(0, 150, 0)";

  });

  // Create labels

  svg.selectAll("text")
  .data(labeldata)
  .enter()
  .append("text")
  .text(function(d){
    return d;
  })
  .data(dataset)
  .attr("x", 
    function(d, i){
    return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
  })
  .attr("y", function(d){
    return h - (d * 4) + 14;
  })
  .attr("font-family", "sans-serif")
  .attr("font-size", "11px")
  .attr("fill", "white")
  .attr("text-anchor", "middle");


  // d3.select("body")
  d3.selectAll("rect")
  .data(dataset)
  .attr("height", "0%")
  .transition()
  .duration(2000)
  .attr("height", "100%");

  </script>


  <!-- D3 ends here -->

  <div class="ratings_holder">
          <div class="each_rating">
  <!--           <h3>Traffic<br>Score</h3> -->
            <p class="traffic-rating rating"></p>
          </div>

          <div class="each_rating">
  <!--           <h3>Competition<br>Score</h3>
   -->          <p class="negative-rating rating" ></p>
          </div>

          <div class="each_rating">
  <!--           <h3>Complement<br>Score</h3>
   -->          <p class="positive-rating rating"></p>
          </div>
  </div>





<div id="results" style="text-align: center; color: #fff;">

    <h2 style="padding-top:60px;">Recommendations</h2>
    <div>
      • Recommendation #1<br>
      • Recommendation #2<br>
      • Recommendation #3<br>
      • Recommendation #4<br>
    </div>
    <span class="white_text" id='factual-data'>

      <% @factual_data.each do |element| %>
        <%= element['name'] %>|
        <%= element['latitude'] %>|
        <%= element['longitude'] %>|
        <%= element['price'] %>|
        <%= element['rating'] %>|
        <%= element['cuisine'] %>|  
      <% end %>
    </span>
  </div>
<!--     <span class="blue_text">LOCATION:</span>
    <%= @restaurant.location %><br> 

    <span class="blue_text">CATEGORY:</span>
    <%= @restaurant.category %><br> 

    <span class="blue_text">PRICE:</span>
    <%= @restaurant.price %> -->

  </div>


  <br><br><div id="map-canvas" style="width:100%"></div>
</div>