<!-- google maps api for map and geocoding -->
<%= render 'newmap' %>

<!-- authentication starts here -->
<div class="sign_up animated fadeIn">
  
  <% if current_user %>

    <!-- show current user's email if logged in -->
    <span class="white_text"><%= current_user.email %></span> | 

    <!-- 'Logout' link -->
    <span class="white_text">
      <%= link_to "LOGOUT", sessions_path, method: :delete, :style=>'color:#FFFFFF;' %>
    </span>

  <% else %>

    <!-- sign up link -->
    <a href="users/new" class="white_text" style="color: #fff;text-decoration: none;">SIGN UP</a>

    <span class="blue_text">|</span> 

    <!-- login link -->
    <a href="sessions/new" class="white_text" style="color: #fff;text-decoration: none;">LOGIN</a>

  <% end %>
</div>


<!-- Main app title -->
<h1 class="center main_title animated fadeInDown">
  PREDICTIVE</h1>

<!-- sub header -->
<h3 class="center sub_title animated fadeInDown" id="sub_title">YOUR GO-TO GUIDE FOR LOCAL BUSINESS SUCCESS PREDICTIONS</h3>

<!-- landing button -->
<a class="link_text animated fadeIn"><div id="landing_button" class="animated fadeInUp" onclick="displayForm()">Get Your Prediction</div></a>


<!-- map rendered here -->
<div id="form_map" class="animated fadeInUp">
  
<!-- error handling -->
<div class="new_form animated fadeInUp">
<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- main form for creating prediction -->

    <!-- Address field -->
    Address: 
    <%= f.text_field :location, placeholder: "Enter an Address or Click on the Map", :maxlength=>"254", :size=>"90", :id=>"coo" %><br><br>

    <!-- Category selection -->
    Category: 
    <%= f.select :category, [['Choose a category...'],['American','american'],['Bar','bar'],['BBQ','bbq'],['Breakfeast','breakfast'],['Burgers','burgers'],['Chinese','chinese'],['Cafe','cafe'],['Dessert','dessert'],['Diner','diner'],['French','french'],['Indian','indian'],['Italian','italian'],['Japanese','japanese'],['Mediterranean'],['Mexican','mexican'],['Sandwiches','sandwiches'],['Salads','salads'],['Seafood','seafood'],['Steakhouse','steakhouse']], id:'restaurant_category' %>
    <span class="price_label">

      <!-- Price range selection -->
      Price Range: 
      <%= f.select :price, [['$'],['$$'],['$$$'],['$$$$']], id:'restaurant_price' %>
    </span>

  <br><br>
  <div class="actions center">

    <!-- form submit button -->
    <%= f.submit "Check Success Rating", :class=>"submit get-rating" %>
  </div>

  <!-- hidden fields to pass lat/long to 'create.html.erb' -->
  <%= f.hidden_field :latitude, id: 'lat' %>
  <%= f.hidden_field :longitude, id: 'lng' %>

<% end %>
</div>

<!-- Map rendered here -->
<div id="map-canvas" class="animated fadeInUp"></div>
</div>

<!-- Basic javascript for getting various elements to appear/disappear -->
<script>
displayForm = function(){
      document.getElementById("landing_button").style.display = "none";
      document.getElementById("sub_title").style.display = "none";
      document.getElementById("form_map").style.display = 'inline';
    }
</script>
